
<div class="row">
        <!-- <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" *ngFor=" let card of card; let i = index|paginate:{itemsPerPage:4, currentPage=p}"> -->
  <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" *ngFor=" let card of card; let i = index">
<div class="card">
    <a href= {{card.productInfo.image}} class="card clickable">
  <div class="card-img">
      <img style="width:100%; height:200px; border:none" src= {{card.productInfo.image}}>
  </div>
  </a>
  <div class="card-block">
      <p class="card-text text-center">{{card.productInfo.productName}}<br>
        <strong>{{card.productInfo.brand}}</strong></p>
      <span class="card-media-title" >{{card.varietyList[0].packSize}} {{card.varietyList[0].unit}}</span>
      <span class="price ng-scope" style="float:right">{{card.varietyList[0].price|currency:'INR':true}}</span>
      <p class="card-text text-center">This is a sample message</p>
 </div>
  <div class="card-footer text-center">
      <button type="button" class="btn btn-sm btn-primary" (click) = "detailInfo()">Read More...</button>
  </div>
</div>
</div>
</div>
<hr>
<pagination-controls (pageChange)="p=$event"></pagination-controls>
<!-- <div class="text-center">
    <button class="btn btn-primary" (click) = "PrevPage()"> &laquo; Prev</button>
    <button class="btn btn-warning" (click) = "loadFirstPage()">FirstPage</button>
    <button class="btn btn-success" (click) = "NextPage()">Next &raquo;</button>
</div> -->
<router-outlet></router-outlet>